.App {
  text-align: center;
}

html, body {
  background-color: #222;
}

.App-header {
  margin: 50px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2em;
  text-align: left;
}

.header-icon {
  width: 60px;
  height: 60px;
}

.header-img {
  height: 500px !important;
}

.App-title {
  font-size: 1.5em;
}

.nav {
  margin: 0px;
  background-color: #222;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.nav-item {
  color: rgb(192, 192, 192);
  border-radius: 0%;
  z-index: 300;
  font-size: 15px;
}

.nav-link {
  border-radius: 0%;
  padding: 20px;
}

.nav-item:hover {
  color: rgb(144, 19, 254);
}

.active-tab {
  border-bottom: 7px solid rgb(144, 19, 254);
  color: rgb(116, 140, 252);
  padding: 20px;
}

.search-page {
  position: relative;
}

.books-list {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  background-color: #222;
}

.book-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 15px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.book-info {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding: 20px;
  color: white !important;
}

.book-item:hover {
  box-shadow: 0 4px 8px 0 rgba(49, 69, 243, 0.2), 0 6px 20px 0 rgba(66, 99, 247, 0.19);
}

.buttons-div {
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.buttons-div>div {
  opacity: .5
}

.buttons-div>a {
  opacity: .5
}

.buttons-div>div:hover {
  opacity: 1
}

.buttons-div>a:hover {
  opacity: 1
}

.buttons-div>a {
  width: 100% !important;
}

.details-div {
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
}

.btn {
  margin: 5px;
}

.remove-btn {
  width: 50%;
  height: 50px;
  border: 1px solid red;
  color: red;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.remove-btn:hover {
  background-color: red;
  color: white;
  opacity: 0.5;
}

.search-icon {
  position: relative;
  bottom: 3px;
}

.search-input {
  padding: 5px;
  border-top: none;
  background-color: #222;
  border: none;
  border-bottom: 1px solid rgb(144, 19, 254);
  color: white;
  margin-right: 10px;
}

.search-btn {
  height: 50px;
  border-radius: 4px;
  vertical-align: bottom;
  margin-top: 20px;
  background-color: rgb(144, 19, 254);
  color: white;
  border: 1px solid rgb(144, 19, 254);
  font-size: 18px;
  padding: 8px;
  width: 200px;
  opacity: .5;
}

.search-btn:hover {
  opacity: 1
}

.scroll-top-div {
  display: none;
}

.scroll-top-div:hover {
  background-color: rgb(144, 19, 254);
  color: white !important;
}

.carousel-inner {
  height: 100%;
}

.img-thumbnail {
  padding: 0px;
} 

h6 {
  font-weight: bolder;
  color: white;
}

h1 {
  font-weight: bolder;
}

a {
  color: white;
}

a:visited {
  color: white
}

a:hover {
  color: white;
}

form {
  text-align: center;
  background-color: #222;
  width: 100%;
  padding: 20px;
  z-index: 3;
}

form>input {
  border: none;
  border-bottom: 1px solid rgb(144, 19, 254);
  color: rgb(144, 19, 254);
  border-radius: 4px;
  margin-right: 15px;
}

input::focus {
  border: 1px solid rgb(144, 19, 254) !important;
  -webkit--border: 1px solid rgb(144, 19, 254) !important;
}

@media only screen and (min-width: 768px) {
  .nav-item {
    width: 80px;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
  }
  .scroll-top-div {
    right: 10px !important;
    display: inline;
    z-index: 1;
  }
  .search-btn {
    margin-top: 0px;
  }
  .App-header {
    font-size: 4em;
    margin: 150px;
  }
  .header-img {
    height: 650px !important;
  }
}

@media only screen and (min-width: 1024px) {
  .nav {
    padding-left: 200px;
  }
  .nav-item {
    width: auto;
  }
  .scroll-top-div {
    right: 60px !important;
  }
  form {
    text-align: right;
    padding-right: 200px;
  }
  .App-header {
    font-size: 4em;
  }
  .header-img {
    height: 750px !important;
  }
}